<div>
	<div class="form-group row" >
		<div class="col-sm-6" >
			<h3>Dashboard</h3>
		</div>
		<div class="col-sm-6" >
			<input class="form-control" ng-model="session.searchtext" autofocus placeholder="Searching..." />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-2 col-md-2" ng-repeat="job in jobs | orderBy:'-name' | filter:session.searchtext">
			<a href="#/jobhistory/{{job.jobID}}" >
				<jobview uib-tooltip="show history" ng-model="job" />
			</a>
		</div>
	</div>
</div>
