<div>
	<div class="form-group row">
		<div class="col-sm-4">
			<h3>Dashboard</h3>
		</div>
		<div class="col-sm-6">
			<input class="form-control" ng-model="session.searchtext" autofocus placeholder="Searching..." />
		</div>
		<div class="col-sm-2">
			<select class="form-control" ng-model="config.cfg.config.viewmode">
				<option value="icons">Icons</option>
				<option value="list">List</option>
			</select>
		</div>
	</div>
	<div ng-include="'routes/dashboard/' + config.cfg.config.viewmode + '.html'">
	</div>
</div>
