<div class="panel panel-default" style="min-height:25%;max-height:25%">
	<div class="panel-heading">
		<span style="font-size:10px" uib-tooltip="{{job.name}}">
			{{job.name | limitTo: 15 }}
		</span>
		<span class="pull-right">
			<a href="#/jobhistory/{{job.jobID}}" class="" uib-tooltip="show history">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			</a>
			<span class="glyphicon glyphicon-refresh clickable" ng-click="run(job)"aria-hidden="true" uib-tooltip="re-run job"></span>
		</span>
	</div>
	<div class="panel-body">
		<jobresult ng-model="job"></jobresult>
	</div>
</div>

